<input type="file" id="file_upload" name="file_upload" />
<script type="text/javascript">
	$(function ()
	{
		$("#file_upload").uploadify({
			//'auto':false,
			'multi': false,								//禁止多个同时上传
			'buttonText': "选择并上传文件",
			'fileTypeDesc' : '图片文件',
			'fileTypeExts' : '*.jpg; *.png',
			'swf': '/Static/uploadify/uploadify.swf',	//'@Url.Content("~/Static/uploadify/uploadify.swf")'
			'uploader': '/Home/UploadFile',				//'@Url.Action("UploadFile", "Home")'
			'onSelect' : function(file) {
				alert('选择文件：' + file.name);
			},
			'onUploadError' : function(file, errorCode, errorMsg, errorString) {
				alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
			},
			'onUploadComplete': function (file)
			{
				alert('上传成功：' + file.name);
			},
			'onUploadSuccess': function (file, data, response)
			{
				alert('File Name:' + file.name + '\nFile GUID:' + data);
			},
			'removeCompleted' : false
		});
	});


	@*$('#file_upload').uploadify({
		'uploader': '@Url.Content("~/Static/uploadifyuploadify.swf")',
		'expressInstall': '@Url.Content("~/Scripts/Controls/uploadify/expressInstall.swf")',
		'cancelImg': '@Url.Content("~/Scripts/Controls/uploadify/cancel.png")',
		'script': '@Url.Action("UploadFile", "File")',
		'scriptData': { h: $("spanH").text(), w: $("spanW").text() },
		'folder': '~/Files',
		'buttonText': '选择文件',
		'queueID': 'fileQueue',
		'auto': false,
		'multi': true,
		'fileExt': '*.jpg;*.jpeg;*.png;*.gif',
		'fileDesc': '图片(jpg,jpeg,png,gif)',
		'sizeLimit': 1024 * 1024 * 2, //2M

		'onComplete': function (event, ID, fileObj, response, data)
		{
			//文件名： fileObj.name
			//GUID： response
			var uploadifyID = event.target.id;
			var count = parseInt($("#" + uploadifyID + "_count").val());
			$("form:first").append("<input type='text' name='" + uploadifyID + "_guid_" + count + "' value='" + response + "'>");
			$("#" + uploadifyID + "_count").val(++count);
			$("#" + uploadifyID + "_uploaded").append("<div id='" + uploadifyID + "_uploaded_" + ID + "' class='uploadifyQueueItem'><span class='fileName'>" + fileObj.name + "(" + fileObj.size + ") " + data.speed + "KB/s</span></div>")

		},
		'onAllComplete': function (event, data)
		{
		},
		'onInit': function ()
		{
			var uploadifyID = this.id;
			$("form:first").append("<input type='text' id='" + uploadifyID + "_count' name='" + uploadifyID + "_count' value='0'>");
			$("<div id='" + uploadifyID + "_uploaded' class='completed'></div><br />").insertBefore($("#" + this.queueID));
		}
	});*@
</script>